.table-standart {
  margin-top: 5px; }
  .table-standart thead {
    background-color: #FCFCFC; }
    .table-standart thead th {
      font-size: 17px;
      font-weight: 500;
      color: #4C4C4C; }
  .table-standart tbody tr {
    border-bottom: 1px solid #dee2e6; }
    .table-standart tbody tr td {
      border-top: unset !important;
      font-size: 16px;
      font-weight: 400;
      color: #4C4C4C; }
    .table-standart tbody tr td:not(:last-child) {
      border-right: 1px solid #dee2e6; }

.table-wrapper {
  background-color: #ffffff;
  overflow-x: auto; }
  .table-wrapper .table {
    margin-bottom: 0; }
